@tailwind base;
@tailwind components;
@tailwind utilities;


th.jornal-name {
    background-color: #edededfc !important;
}

span.grow.text-left {
    color: black;
}
 


td.dt-type-date {
    white-space: nowrap;
}